@media screen and (max-width: 1600px) {
    .playlist {
        width: calc(100% / 4 - 20px);
    }

    main {
        background-color: brown;
    }
}

@media screen and (max-width: 1200px) {
    .playlist {
        width: calc(100% / 2 - 20px);
    }

    main {
        background-color: yellowgreen;
    }
}

@media screen and (max-width: 768px) {
    main {
        background-color: royalblue;
        width: calc(100% - 50px);
    }
    /* Per evitare che il menu di navigazione si sovrapponga senza un ordine */
    .navigation {
        flex-direction: column;
        align-content: center;
    }    
    .main-banner {
        text-align: center;
    }
    .main-banner__button {
        margin: 0;
    }
    header {
        width: 50px;
    }
    .pdd-10-15 {
        padding: 10px 10px;
    }
    .sidebar {
        align-items: center;
    }
    .sidebar-top__logo img:first-child {
        display: none;
    }
    .sidebar-top__logo img:last-child {
        display: inline-block;
        width: 30px;
    }
    .sidebar-top__menu a {
        margin-bottom: 20px;
    }
    .sidebar span {
        display: none;
    }
    .sidebar-top__newlist {
        display: none;
    }
    .sidebar-top__playlist {
        display: none;
    }
    .sidebar-bot {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .playlist {
        width: 100%;
        margin-right: 0;
    }
    .wrap-playlist {
        /* justify-content: center; */
    }
    
}