/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
}

header {    
    width: 200px;
    height: 100%;
    background-color: black;
    float: left;
}
main {
    width: calc(100% - 200px);  
    height: 100%;
    background-color: rgb(20, 25, 34);
    overflow-y: auto;
    float: left;
}
footer {
    width: 100%;
    height: 100px;
    background-color: rgb(40, 40, 40);
    overflow-x: hidden;
}

.content {    
    height: calc(100vh - 100px);
    /* display: flex;
    flex-wrap: wrap; */
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.mrg-bot10 {
    margin-bottom: 10px;
}.mrg-bot20 {
    margin-bottom: 20px;
}
/* Dimensione del menù laterale sinistro */
.sidebar {
    height: 100%;
    /* COLORE del testo da rimuovere */
    color: white;

    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}
/* Attributi degli elementi contenuti nel menù */
.sidebar a {    
    color: rgb(125, 127, 132);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
}
.sidebar ul {
    list-style: none;
}

.sidebar-top {
    flex-grow: 1;
}
/* Impostazioni del logo */
.sidebar-top__logo {
    margin-bottom: 20px;
}
.sidebar-top__logo img {
    width: 100%;
}
/* Impostazione del menu */
.sidebar-top__menu {
    display: flex;
    flex-direction: column;
}
.sidebar-top__menu img {
    height: 30px;
    vertical-align: middle;
    filter: invert(0.5);
}
/* Per colorare di bianco la home che è selezionata */
.sidebar-top__menu a:first-child img {
    filter: invert(0);
}
.sidebar-top__menu a:first-child {
    color: white;
}
/* Per aggiungere il trattino laterale verde */
.sidebar-top__menu a {
    position: relative;
}
.sidebar-top__menu a:first-child::before{
    content: "";    
    position: absolute; 
    display: block;
    width: 3px;
    height: 100%;       
    top: 0;
    left: 0;
    transform: translate(-15px, 0);
    background-color: rgb(173, 255, 47);
}
/* Impostazioni al pulsante per aggiungere una playlist */
.sidebar-top__newlist h1 {
    font-size: 1.5em;
    color: white;
}
.sidebar-top__newlist i {
    font-size: 2em;
    padding: 10px;
    background-color: rgb(163, 163, 163);
    vertical-align: middle;
    color: black;
}
/* Impostazioni per il menù inferiore dell'account */
.sidebar-bot__account img {
   width: 40px;
   height: 40px;
   background-color: rgb(128, 128, 128);
   border-radius: 50%;
   vertical-align: middle;
}
.sidebar-bot__account a {
    color: white;
    font-weight: 600;
}



.main-content {
    padding: 0 30px;
}
.main-banner {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.5);
}
.main-banner__button {
    /* colore del bottone e creazione bordo */
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 1.2em;
    color: white; 
    /* altezza e padding per creare l'effetto arrotondamento    */
    height: max-content;
    padding: 10px 30px;
    margin-right: 40px;
    text-transform: uppercase;
    cursor: pointer;
}

.main-content {
    width: 100%;
    height: calc(100% - 100px);
    color: white;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.navigation__item {
    position: relative;
    height: 30px;
    margin: 20px;
    cursor: pointer;
}
.navigation__item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(125, 127, 132);
}
/* After per l'aggiunta dell'underline sotto al link */
.navigation__item span {
    content: "";    
    position: absolute; 
    display: block;
    width: 30%;
    height: 3px;       
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(173, 255, 47);
}


.wrap-playlist {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.playlist {
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(100% / 6 - 20px);
    min-width: 200px;

}
.playlist__thumbnail {
    position: relative;
    cursor: pointer;
}
.playlist__thumbnail img {
    width: 100%;
    max-width: 350px;
}
.playlist__text-content h3 {
    color: rgb(125, 127, 132);
}
.playlist__text-content h2,
.playlist__text-content h3 {
    margin-top: 10px;
}
.playlist__thumbnail i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
}


.footer-content {
    display: flex;
    align-items: center;
    height: 100%;
}
.playbar_side img {
    height: 50px;
}
/* Barra per indicare il progresso della riproduzione e del volume */
/*
Dimensioni generiche delle barre totali
*/
.bar {
    height: 10px;
    border-radius: 15px;
 }
 .bar_bg {         
    background-color: rgb(90, 90, 90); 
    position: relative;
 }
 /* Barra di riproduzione */
 .bar_song {  
     width: 70%;
 }
 /* Barra del volume */
 .bar_vol {
     width: 180px;
 }
 /* Colorazione progress generico delle barre */
 .bar_progress {
     width: 33%;
     background-color: white;
     position: absolute;
     left: 0;
 }

/* Margini tra le icone del footer e colore testo generale */
.playbar__content > * {
    margin: 0 10px;    
    color: white;
}
/* Flex per tutte e tre le sezione gestito allo stesso modo */
.playbar__content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Sezioni laterali leggermente spostate verso il basso rispetto a quella centrale */
.playbar_side {
    margin-top: 20px;
}
/* Colore grigio per i 3 elementi della sezione sinistra */
.playbar_side:first-child h4,
.playbar_side:first-child i {
    color: grey;
}
/* Grow per la sezione centrale, così da prendere tutto lo spazio disponibile */
.playbar_central {
    flex-grow: 1;
}
/* Dimensioni delle varie icone */
.playbar_central .playbar__content:first-child {
    font-size: 1.2em;
}
.playbar_central .fa-play-circle {
    font-size: 2em;
}
.playbar_central .playbar__content:last-child {
    font-size: 0.8em;
    margin-top: 10px;
}



/* HOVER PER L'HEADER */
.sidebar a:hover {
    color: white;
}
.sidebar a:hover img{
    filter: invert(0);
}

/* HOVER PER IL MAIN: BANNER, NAV E PLAYLIST */
.main-banner__button:hover {
    transform: scale(1.2);
}
.navigation__item:hover a {
    color: white;
}
.playlist__thumbnail:hover img{
    opacity: 60%;
}
.playlist__thumbnail:hover i{
    display: block;
}

/* HOVER PER IL FOOTER */
.playbar__content h4:hover{
    text-decoration:underline;
}
.playbar_side:first-child > * :hover {
    color: white;
}
.playbar__content:first-child:hover {
    cursor: pointer;
}
.playbar_central .fa-play-circle:hover {
    transform:scale(1.2);
}
.bar:hover .bar_progress {
    background-color: rgb(173, 255, 47);
}
.bar:hover .bar_progress::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
